<%- include('../Injection_partials/Injection_header') -%>

  <%- include('../../../partials/navbar_dashboard') -%>

    <%- include('../Injection_partials/Injection_menu') -%>

      </div>
      </li>
      </ul>

      </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-3">

        <div class="card card-body margin-5">

          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
            <h3 class="text-uppercase" style="font-weight: 700;">Injection <%= inj; %> / <%= page %>
            </h3>

          </div>

          <!-- MAIN CONTENT -->

          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <table class="table">
                  <thead class="fs-5">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Status</th>
                      <th scope="col">Timestemp</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="mc_name"></td>
                      <td class="mc_status"></td>
                      <td class="mc_time"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- END MAIN -->


      </main>

      <script>
        const socket = io('https://ws.ap.ngrok.io', { transports: ['websocket'] });

        socket.on('inj-<%= name %>', (res) => {
          if (res.data.Type == "Net100") {
            $(".mc_name").html(res.data.Name);
            $(".mc_status").html(res.data.STATUS_NAME);
            let date = new Date(res.data.STATUS_TIMESTAMP).toLocaleDateString('en-US');
            let time = new Date(res.data.STATUS_TIMESTAMP).toLocaleTimeString('th-Th');
            $(".mc_time").html(date + ' ' + time);
          }
        });
      </script>